:root {
   --body-bg-color: #FAF7FD;
   --purple: #BB99DD;
}

body {
   font-family: 'Poppins', sans-serif;
   background-color: var(--body-bg-color);
}


main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

a, a:hover, a:visited {
   text-decoration: none;
   color: var(--purple);
}

.user {
   text-align: center;
}

.user_photo {
   border-radius: 50%;
   border: 2px solid var(--purple);
   height: 200px;
   padding: 7px;
   margin-bottom: 15px;
}

.title {
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
}

nav {
   margin-top: 2rem;
}

li {
   font-weight: 600;
   font-size: 16px;
   line-height: 24px;
   text-align: center;
   text-transform: uppercase;
   border: 2px solid var(--purple);
   border-radius: 4px;
   width: 326px;
   height: 49px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-bottom: 1rem;
}